@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.cl-card,
.cl-internal-1p733cp,
.cl-internal-qk5yrq {
  box-shadow: none;
}

.cl-internal-4x6jej {
  background: white;
}

.cl-internal-ttumny,
.cl-internal-1gblaxi,
.cl-input,
.cl-formFieldInput {
  box-shadow: none;
  height: 2.75rem;
  min-height: 2.75rem;
  max-height: 2.75rem;
  border-radius: 0;
}

.cl-button,
.cl-internal-ttumny[data-variant='solid'][data-color='primary'] {
  box-shadow: none;
  border-radius: 0;
}

.cl-internal-14ikjd9[type='tel'],
.cl-internal-14ikjd9 {
  border-radius: 0;
}

.cl-internal-1dpploh {
  height: 2.75rem;
  min-height: 2.75rem;
  max-height: 2.75rem;
  border-radius: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer-right>.ant-drawer-content-wrapper,
:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-content-wrapper {
  width: 20rem !important;
}

.ant-drawer-body>aside {
  width: 17.5rem !important;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-content {
  position: relative;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-header {
  padding: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  background: transparent;
  z-index: 1000;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-header-title {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-close {
  margin: 0;
  padding: 0;
  border: 0;
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-close:hover,
:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-close:focus {
  outline: none;
  box-shadow: none;
  background: transparent;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-body {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-body {
  overflow-x: hidden;
}

:where(.css-dev-only-do-not-override-140ko63).ant-drawer .ant-drawer-body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:where(.css-dev-only-do-not-override-140ko63).ant-spin .ant-spin-dot-item {
  background: #d37676;
}

#bio {
  resize: none;
}

:where(.css-dev-only-do-not-override-140ko63).ant-tag.ant-tag-has-color,
:where(.css-dev-only-do-not-override-140ko63).ant-tag.ant-tag-has-color a,
:where(.css-dev-only-do-not-override-140ko63).ant-tag.ant-tag-has-color a:hover,
:where(.css-dev-only-do-not-override-140ko63).ant-tag.ant-tag-has-color .anticon-close,
:where(.css-dev-only-do-not-override-140ko63).ant-tag.ant-tag-has-color .anticon-close:hover {
  margin-left: .5rem;
}

table {
  border: solid 0.0625rem #CBCBCB;
}

.ant-table-cell svg {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}