@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.cl-card,
.cl-internal-1p733cp,
.cl-internal-qk5yrq {
  box-shadow: none;
}

.cl-internal-4x6jej {
  background: white;
}

.cl-internal-ttumny,
.cl-internal-1gblaxi,
.cl-input,
.cl-formFieldInput {
  box-shadow: none;
  height: 2.75rem;
  min-height: 2.75rem;
  max-height: 2.75rem;
  border-radius: 0;
}

.cl-button,
.cl-internal-ttumny[data-variant='solid'][data-color='primary'] {
  box-shadow: none;
  border-radius: 0;
}

.cl-internal-14ikjd9[type='tel'],
.cl-internal-14ikjd9 {
  border-radius: 0;
}

.cl-internal-1dpploh {
  height: 2.75rem;
  min-height: 2.75rem;
  max-height: 2.75rem;
  border-radius: 0;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}
